@model WebApplication1.Models.EF.BookTicket

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BookTicket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PassengerId" class="control-label"></label>
                <input asp-for="PassengerId" class="form-control" />
                <span asp-validation-for="PassengerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightNo" class="control-label"></label>
                <select asp-for="FlightNo" class ="form-control" asp-items="ViewBag.FlightNo"></select>
            </div>
            <div class="form-group">
                <label asp-for="PassengerFistName" class="control-label"></label>
                <input asp-for="PassengerFistName" class="form-control" />
                <span asp-validation-for="PassengerFistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengerLastName" class="control-label"></label>
                <input asp-for="PassengerLastName" class="form-control" />
                <span asp-validation-for="PassengerLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
